<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Hat Wearing App</title>
        <script src="https://fb.me/react-0.13.3.js"></script>
        <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
        <meta name="viewport" content="width=device-width">
    </head>

    <body>
        <div id="app"></div>
        <script type="text/jsx;harmony=true" src="components/Hat.js"></script>
        <script type="text/jsx;harmony=true" src="components/Person.js"></script>
        <script type="text/jsx" src="app.js"></script>
    </body>
</html>




You may use these HTML tags and attributes: <a href="" title=""> <abbr title=""> <acronym title=""> <b> <blockquote cite=""> <cite> <code> <del datetime=""> <em> <i> <q cite=""> <s> <strike> <strong> 
